---
- name: Install logwatch package
  ansible.builtin.package:
    name:
      - logwatch
      - libdate-manip-perl
    state: present
  become: true
  become_user: root

- name: Remove daily cronjob
  ansible.builtin.file:
    path: /etc/cron.daily/00logwatch
    state: absent
  become: true
  become_user: root

- name: Putting cronjob in place
  ansible.builtin.template:
    src: 00logwatch.jinja2
    dest: /etc/cron.weekly/00logwatch
    owner: root
    group: root
    mode: "0755"
  become: true
  become_user: root

- name: Configure output
  ansible.builtin.lineinfile:
    dest: /usr/share/logwatch/default.conf/logwatch.conf
    regexp: "^Output"
    line: "Output = stdout"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure format
  ansible.builtin.lineinfile:
    dest: /usr/share/logwatch/default.conf/logwatch.conf
    regexp: "^Format"
    line: "Format = text"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure encoding
  ansible.builtin.lineinfile:
    dest: /usr/share/logwatch/default.conf/logwatch.conf
    regexp: "^Encode"
    line: "Encode = none"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure mailto
  ansible.builtin.lineinfile:
    dest: /usr/share/logwatch/default.conf/logwatch.conf
    regexp: "^MailTo"
    line: "MailTo = {{ logwatch_report_address }}"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure mailfrom
  ansible.builtin.lineinfile:
    dest: /usr/share/logwatch/default.conf/logwatch.conf
    regexp: "^MailFrom"
    line: "MailFrom = Logwatch {{ ansible_facts.hostname }}"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure range
  ansible.builtin.lineinfile:
    dest: /usr/share/logwatch/default.conf/logwatch.conf
    regexp: "^Range"
    line: "Range = between -7 days and -1 days"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure detail
  ansible.builtin.lineinfile:
    dest: /usr/share/logwatch/default.conf/logwatch.conf
    regexp: "^Detail"
    line: "Detail = Low"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure services
  ansible.builtin.lineinfile:
    dest: /usr/share/logwatch/default.conf/logwatch.conf
    regexp: "^Service"
    line: "Service = All"
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure mailer
  ansible.builtin.lineinfile:
    dest: /usr/share/logwatch/default.conf/logwatch.conf
    regexp: "^mailer"
    line: 'mailer = "/usr/sbin/sendmail -t"'
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root
